<div>
    任务
    <nav class="navbar navbar-default navbar-m-bottom navbar-fixed-bottom" role="navigation">
        <ul class="nav">
            <li class="active"><a ng-click="goto('task')"><i class="fa fa-flag-o"></i>任务</a></li>
            <li><a ng-click="goto('communication')"><i class="fa fa-comments-o"></i>交流</a></li>
            <li><a ng-click="goto('discover')"><i class="fa fa-eye"></i>发现</a></li>
            <li><a ng-click="goto('myself')"><i class="fa fa-heart-o"></i>我</a></li>
        </ul>
    </nav>
</div>
